#brocante-img-grid {
  img {
    border-radius: 10px;
  }
}

.card {
  width: 250px;
  max-width: 100%;
  box-shadow: 0 0 8px 2px rgba($primary, 0.5);
  transition: all 0.2s ease-in-out;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay {
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

.card:hover {
  transform: scale(0.98);
  box-shadow: 0 0 8px 4px rgba($primary, 0.5);
}

.modal-body img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
