#surcyclage-content {
    img {
        margin: 20px 0px;
        border-radius: 10px;
        max-width: 380px;
        max-height: 300px;
        width: 100%;
        height: auto;
        object-fit:cover;
    }
}